<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="app-content">
        {{> header }}
        {{> sidebar }}
        <h3 class="d-flex justify-content-center mt-4">Danh sách chương truyện đã đăng</h3>
        <div class="card shadow">
          <div class="table-responsive">
              <form class="mt-4" name="container-form" method="POST" action="/admin/chapter/handle-form-action">
                <div class="mt-4 d-flex ml-3 " style="position: relative;">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                    <label class="form-check-label" for="checkbox-all">
                      Chọn tất cả
                    </label>
                  </div>
                  <select style="min-width: 160px" class="form-control form-control-sm col-sm-2 ml-2 mr-2" name="action" required>
                    <option value="">-- Chọn hành động --</option>
                    <option value="delete">Xóa</option>
                  </select>
                  <button class="btn btn-primary btn-sm check-all-submit-btn" disabled="disabled">
                    Thực hiện
                  </button>
                  <div class="" style="position: absolute; right: 10px">
                    <a class="btn btn-add" href="/admin/chapter/create">
                    <i class="fas fa-plus"></i> Thêm chương</a>
                    <a class="btn btn-secondary" role="button" href="/admin/chapter/trash">Thùng rác ({{deleteCount}}) <i class="fas fa-trash-alt"></i></a>
                  </div>
                </div>
                  <table class="mt-4">
                      <thead>
                          <tr>
                            <td></td>
                              <th scope="col">ID</th>
                              <th class="sorting col-lg-2" scope="col">Tên chương
                                {{{sortable 'chapterName' _sort}}}
                              </th>
                              
                              <th class="sorting col-lg-6" scope="col-sm-2">Nội dung</th>
                              <th scope="col">Số Chương</th>
                              <th scope="col">Chức năng</th>
                          </tr>
                      </thead>
                      <tbody>
                          {{#each chapters}}
                          <tr>
                              <td>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="chapterIds[]" value="{{this._id}}">
                                  </label>
                                </div>
                              </td>
                              <th scope="row">{{sum @index 1 }}</th>
                              <td style="padding-bottom: 6px;" > {{this.chapterName}} </td>
                              <td style="padding-bottom: 6px;" class="max-lines" > {{this.content}} </td>
                              <td style="padding-bottom: 6px;" > {{this.NumberChapter}} </td>
                              <td>
                                  <a  style="min-width: 70px; max-width: 70px;" role="button" class="btn btn-success mt-2" href="/admin/chapter/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                                  <a  style="min-width: 70px; max-width: 70px;" role="button" class="btn btn-danger mt-2" href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-chapter-modal" >Xóa</a>
                              </td>
                          </tr>

                          {{else}}
                          <tr>
                            <td colspan="5" class="text-center">
                              Bạn chưa đăng Chapter nào tại website.
                              <a href="/admin/book/create">Đăng thêm chapter</a>
                            </td>
                          </tr>
                          {{/each}}
                      </tbody>
                  </table>
              </form>
          </div>
        </div>
        <nav style="width: 100%; position: relative;" aria-label="Page navigation example">
          <ul class="pagination" style="right: 0px; position: absolute">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
            <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
            <li class="page-item"><a class="page-link" href="?page=3">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
    </div>
</body>
</html>
{{!-- confirm Dele book --}}

<div id="delete-chapter-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa chương?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa chương truyện này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-book" type="button" class="btn btn-danger">Xóa Bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- DELETE hidden form --}}
<form method="POST" name="delete-chapter-form">
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var bookId;
        var deleteForm = document.forms['delete-chapter-form'];
        //var containerForm = document.forms['container-form'];
        var containerForm = $('form[name="container-form"]');
        var btnDeleteBook = document.getElementById('btn-delete-book');
        var checkboxAll = $('#checkbox-all');
        var bookItemCheckbox = $('input[name="chapterIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');

        //When dialog confirm clicked
        $('#delete-chapter-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            bookId = button.data('id');
        });

        // when delete book btn clicks
        btnDeleteBook.onclick = function(){
            deleteForm.action = '/admin/chapter/' + bookId + '/delete?_method=DELETE';
            deleteForm.submit();
        }

        // checkbox all clicked
        checkboxAll.change(function(){
          var isCheckedAll = $(this).prop('checked');
          bookItemCheckbox.prop('checked', isCheckedAll);
          renderCheckedAllSubmitBtn()
        })
        
        // Book item checkbox changed
        bookItemCheckbox.change(function() {
          var isCheckedAll = bookItemCheckbox.length === $('input[name="chapterIds[]"]:checked').length;
          checkboxAll.prop('checked', isCheckedAll)
          renderCheckedAllSubmitBtn()
        })
        
        //Re-render check all submit button 
        function renderCheckedAllSubmitBtn(){
          var checkedCount = $('input[name="chapterIds[]"]:checked').length;
          if(checkedCount > 0){
            checkAllSubmitBtn.attr('disabled', false)
          }else{
            checkAllSubmitBtn.attr('disabled', true)
          }
        }
    })
</script>
