<h3 class="d-flex justify-content-center mt-4">Danh sách thể loại sách đã xóa</h3>
<a class="btn btn-secondary mt-2 mb-2" role="button" href="/admin/genre"><i class="fas fa-arrow-left mr-1"></i>Quay lại</a>
{{!-- <a href="/admin/book">Danh sách khóa học</a> --}}
<div class="card shadow mb-4">
<div class="table-responsive">
    <form class="mt-4" name="container-form" method="POST" action="/admin/genre/handle-form-trash-action">
        <div class="mt-4 ml-3 d-flex">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
              Chọn tất cả
            </label>
          </div>
          <select style="min-width: 160px" class="form-control form-control-sm col-sm-2 ml-2 mr-2" name="action" required>
            <option value="">-- Chọn hành động --</option>
            <option value="delete">Xóa Vĩnh viễn</option>
            <option value="restore">Khôi phục</option>
          </select>

          <button class="btn btn-primary btn-sm check-all-submit-btn" disabled="disabled">
            Thực hiện
          </button>
        </div>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                  <td></td>
                    <th scope="col">ID</th>
                    <th class="sorting col-lg-2" scope="col">Tên thể loại</th>
                    <th class="sorting col-lg-5" scope="col">Giới thiệu chung</th>
                    <th class="sorting col-lg-2" scope="col">Thời gian xóa</th>
                    <th class="sorting col-lg-2" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each genre}}
                <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="genreIds[]" value="{{this._id}}">
                        </label>
                      </div>
                    </td>
                    <th scope="row">{{sum @index 1 }}</th>
                    <td>{{this.genreName}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a  style="min-width: 110px; max-width: 110px;" role="button" href="" data-id={{this._id}} class="btn btn-success mt-2 btn-restore">Khôi phục</a>
                        <a  style="min-width: 110px; max-width: 110px;" role="button" class="btn btn-danger mt-2" href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-book-modal" >Xóa vĩnh viễn</a>
                    </td>
                </tr>

                {{else}}
                <tr>
                  <td colspan="5" class="text-center">
                    Thùng rác trống.
                    <a href="/admin/book">danh sách khóa học</a>
                  </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
</div>
</div>
{{!-- confirm Dele book --}}

<div id="delete-book-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa sách?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục, bạn vẫn muốn xóa sách này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-book" type="button" class="btn btn-danger">Xóa vĩnh viên</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-book-form"></form>
<form method="POST" name="restore-book-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var genreId;
        var deleteForm = document.forms['delete-book-form'];
        var restoreForm = document.forms['restore-book-form'];
        var btnDeleteBook = document.getElementById('btn-delete-book');
        var restoreBtn =$('.btn-restore')

        // khai báo biến của checkbox + select xóa xĩnh viễn và khôi phục
        var containerForm = $('form[name="container-form"]');
        var btnDeleteBook = document.getElementById('btn-delete-book');
        var checkboxAll = $('#checkbox-all');
        var bookItemCheckbox = $('input[name="genreIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');

        //When dialog confirm clicked
        $('#delete-book-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            genreId = button.data('id');
        });
        // when delete book btn clicks
        btnDeleteBook.onclick = function(){
            deleteForm.action = '/admin/genre/' + genreId + '/delete/force?_method=DELETE';
            deleteForm.submit();
        }

        //Restore btn click
        restoreBtn.click(function(e){
          e.preventDefault();
          var genreId = $(this).data('id');
          restoreForm.action = '/admin/genre/' + genreId + '/restore?_method=PATCH';
          restoreForm.submit();
        })

        // checkbox all clicked
        checkboxAll.change(function(){
          var isCheckedAll = $(this).prop('checked');
          bookItemCheckbox.prop('checked', isCheckedAll);
          renderCheckedAllSubmitBtn()
        })

        // Book item checkbox changed
        bookItemCheckbox.change(function() {
          var isCheckedAll = bookItemCheckbox.length === $('input[name="genreIds[]"]:checked').length;
          checkboxAll.prop('checked', isCheckedAll)
          renderCheckedAllSubmitBtn()
        })

        //Re-render check all submit button 
        function renderCheckedAllSubmitBtn(){
          var checkedCount = $('input[name="genreIds[]"]:checked').length;
          if(checkedCount > 0){
            checkAllSubmitBtn.attr('disabled', false)
          }else{
            checkAllSubmitBtn.attr('disabled', true)
          }
        }
    })
</script>
