<h3 class="d-flex justify-content-center mt-4">Danh sách tài khoản User</h3>
<div class="card shadow">
  <div class="table-responsive">
      <form class="mt-4" name="container-form" method="POST" action="/admin/user/handle-form-action-user">
        <div class="mt-4 d-flex ml-3" style="position: relative;">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
              Chọn tất cả
            </label>
          </div>
          <select style="min-width: 160px" class="form-control form-control-sm col-sm-2 ml-2 mr-2" name="action" required>
            <option value="">-- Chọn hành động --</option>
            <option value="delete">Xóa</option>
          </select>
          <button class="btn btn-primary btn-sm check-all-submit-btn" disabled="disabled">
            Thực hiện
          </button>
          <div class="" style="position: absolute; right: 10px">
            <a class="btn btn-secondary" role="button" href="/admin/user/trash">Thùng rác ({{deleteCount}}) <i class="fas fa-trash-alt"></i></a>
          </div>
        </div>
          <table class="table table-bordered mt-4">
              <thead>
                  <tr>
                    <td></td>
                      <th scope="col">ID</th>
                      <th scope="col">Tên User
                        {{{sortable 'name' _sort}}}
                      </th>
                      <th scope="col">Tài khoản
                        {{{sortable 'email' _sort}}}
                      </th>
                      {{!-- <th scope="col">Mật khẩu</th> --}}
                      <th scope="col">Thời gian tạo
                        {{{sortable 'createdAt' _sort}}}
                      </th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              <tbody>
                  {{#each users}}
                  <tr>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="userIds[]" value="{{this._id}}">
                          </label>
                        </div>
                      </td>
                      <th scope="row">{{sum @index 1 }}</th>
                      <td>{{this.name}}</td>
                      <td>{{this.email}}</td>
                      {{!-- <td>{{this.password}}</td> --}}
                      <td>{{this.createdAt}}</td>
                      <td>
                          <a role="button" class="btn btn-success mt-2" href="/admin/user/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                          <a role="button" class="btn btn-danger mt-2" href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-book-modal" >Xóa</a>
                      </td>
                  </tr>

                  {{else}}
                  <tr>
                    <td colspan="5" class="text-center">
                      Danh sách tài khoản người dùng trống!
                    </td>
                  </tr>
                  {{/each}}
              </tbody>
          </table>
          <div id="paging"></div>
      </form>
  </div>
</div>
<nav style="width: 100%; position: relative;" aria-label="Page navigation example">
  <ul class="pagination" style="right: 0px; position: absolute">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
{{!-- confirm Dele book --}}

<div id="delete-book-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa tài khoản người dùng?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa tài khoản người dùng này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-book" type="button" class="btn btn-danger">Xóa Bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- DELETE hidden form --}}
<form method="POST" name="delete-book-form">
</form>
<form method="POST" name="page-onclick">
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var userId;
        var deleteForm = document.forms['delete-book-form'];
        var pageOnclickForm = document.forms['page-onclick'];
        var containerForm = $('form[name="container-form"]');
        var btnDeleteBook = document.getElementById('btn-delete-book');
        var checkboxAll = $('#checkbox-all');
        var bookItemCheckbox = $('input[name="userIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');
        var paginationID = $('.paginationjs-page');

        //when paginationID onclick
        paginationID.onclick = function(){
            pageOnclickForm.action = '/admin/user/'+'?page='+ data-num;
            pageOnclickForm.submit();
        }

        //When dialog confirm clicked
        $('#delete-book-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            userId = button.data('id');
        });

        // when delete book btn clicks
        btnDeleteBook.onclick = function(){
            deleteForm.action = '/admin/user/' + userId + '/delete?_method=DELETE';
            deleteForm.submit();
        }

        // checkbox all clicked
        checkboxAll.change(function(){
          var isCheckedAll = $(this).prop('checked');
          bookItemCheckbox.prop('checked', isCheckedAll);
          renderCheckedAllSubmitBtn()
        })
        
        // Book item checkbox changed
        bookItemCheckbox.change(function() {
          var isCheckedAll = bookItemCheckbox.length === $('input[name="userIds[]"]:checked').length;
          checkboxAll.prop('checked', isCheckedAll)
          renderCheckedAllSubmitBtn()
        })
        
        //Re-render check all submit button 
        function renderCheckedAllSubmitBtn(){
          var checkedCount = $('input[name="userIds[]"]:checked').length;
          if(checkedCount > 0){
            checkAllSubmitBtn.attr('disabled', false)
          }else{
            checkAllSubmitBtn.attr('disabled', true)
          }
        }
    })
</script>
